
<div class="table-responsive" id="details_table"> 

    <table class="table table-bordered">
      
      <tr>
        <th colspan="2">Détails sur <i>{{drug.libelle}}</i></th>
       
      </tr>
      
      <tr>
        <td>Prix du médicament</td>
        <td><b>{{drug.prix}} € </b></td>
      </tr>
     
       <tr>
        <td>Code Identifiant de Spécialité</td>
        <td>{{drug.cis}}</td>
      </tr>
       <tr>
        <td>Forme pharmaceutique </td>
        <td>{{drug.forme}}</td>
      </tr>
       <tr>
        <td>Titulaire(s)</td>
        <td>{{drug.titulaire}}</td>
      </tr>
       <tr>
        <td>Libellé de la présentation</td>
        <td>{{drug.libelle_pres}}</td>
      </tr>
       <tr>
        <td>Taux de remboursement</td>
        <td>{{drug.taux_rem}}</td>
      </tr>
    </table>
  </div>  