 <div class="container">

        <div class="jumbotron text-center" style="margin-top:3px">
            <h1> Medocs €&nbsp;<span class="label label-info">{{ drugs.length }}</span></h1>
        </div>


        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                                
                    <div class="col-lg-6">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Recherchez votre médicament..." ng-model="searched_drug">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="searchDrugs(searched_drug)" >Rechercher !</button>
                          </span>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
            
        <div class="row">     
            <ul class="list-group" style="" id="liste">
              <li class="list-group-item" ng-repeat="drug in drugs">
              <span class="badge">{{drug.prix}} €</span>
                <a ng-click="getDrugById(drug._id)" href="#">{{drug.libelle}}
              </li>
            </ul>
        </div>

    </div>